{% block title %}{{ title }}{% endblock %}

{% block header %}<h1>{{ title }}</h1>{% endblock %}

{% block breadcrumbs %}
{% if breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="icon icon-angle-left"></span>
		<a href="{{ breadcrumb.path }}">{{ breadcrumb.title }}</a>
	</li>
</ul>
{% endif %}
{% endblock %}

{% block header_actions %}
  {% if fs %}
    <button type="submit" class="btn btn-default btn-sm btn-new-folder">
    		{{ _("New Folder") }}</button>
  {% endif %}
{% endblock %}

<!-- content -->
{% block content %}

{% if items %}
<ul class="list-group">
{% for item in items %}
	<li class="list-group-item">
		<i class="octicon octicon-database"></i>
		<a href="?viewer&fs={{ item.name }}">
			{{ item.name }}
		</a>
		<span class="pull-right text-muted">{{ item.used }}</span>
	</li>
{% endfor %}
</ul>
{% endif %}

{% if files %}
<ul class="list-group">
{% for file in files %}
	<li class="list-group-item">
		{% if file.is_folder %}
		<i class="octicon octicon-file-directory"></i>
		<a href="?viewer&fs={{ fs }}&path={{ file.path }}">
			{{ file.name }}
		</a>
		{% else %}
		<i class="octicon octicon-file-text"></i>
		<a href="/api/method/zfs_admin.api.download?fs={{ fs }}&file_path={{ file.path }}" target="_blank">
			{{ file.name }}
		</a>
		<span class="pull-right text-muted">{{ file.size }}</span>
		{% endif %}
	</li>
{% endfor %}
</ul>
{% endif %}

{% if fs %}
<p class="text-muted">Drag and drop files to upload</p>
{% endif %}

{% endblock %}

{% block script %}
<script>
	frappe.ready(function() {
		viewer.setup_events()

	});

	var viewer = {
		setup_events: function() {
			if(viewer.loaded) return;

			viewer.setup_new_folder();
			viewer.setup_file_drop();

			viewer.loaded = true;
		},
		setup_new_folder: function() {
			$("#page-viewer .btn-new-folder").on("click", function() {
				var modal = new frappe.get_modal("Add Folder",
				'<label for="new-folder-name">Folder Name</label>\
					<input type="email" class="form-control" id="new-folder-name">');

				modal.find(".modal-header .close").remove();

				// close button
				$('<button class="btn btn-sm btn-default pull-right" \
					style="margin-top: -3px; margin-right: 5px;">Close</button>')
					.prependTo(modal.find(".modal-header"))
					.on("click", function() { modal.modal('hide'); });

				// add button
				$('<button class="btn btn-sm btn-primary pull-right" style="margin-top: -3px;">Add</button>')
					.prependTo(modal.find(".modal-header"))
					.on("click", function() {
						var name = modal.find("#new-folder-name").val();

						if(!name) {
							frappe.msgprint("Name required");
							return;
						}

						frappe.call({
							method: "zfs_admin.api.add_folder",
							args: { fs: "{{ fs }}", path: "{{ path }}", folder_name: name },
							callback: function(r) {
								if(r.message==="okay") {
								  window.location.reload();
								}
							}
						});

					});

				modal.modal('show');
			});

		},
		setup_file_drop: function() {
			$(document).on('dragenter dragover', false)
				.on('drop', function (e) {
					var dataTransfer = e.originalEvent.dataTransfer;
					if (!(dataTransfer && dataTransfer.files && dataTransfer.files.length > 0)) {
						return;
					}

					var fileobj = dataTransfer.files[0];

					console.log(fileobj);

					e.stopPropagation();
					e.preventDefault();

					var freader = new FileReader();

					frappe.freeze();
					freader.onload = function() {
						frappe.call({
							method: "zfs_admin.api.upload_file",
							args: {
								fs: "{{ fs }}",
								path: "{{ path }}",
								filename: fileobj.name,
								filedata: freader.result.split(",")[1]
							},
							callback: function(r) {
								if(r.message=="okay") {
									window.location.reload();
								}
							},
							always: function() {
								frappe.unfreeze();
							}
						});
					};

					freader.readAsDataURL(fileobj);

				});
		},
	}

</script>
{% endblock %}
